.sl-wrapper .sl-navigation button {
  color: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 156px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

.gallery-item {
  max-width: 300px;
  list-style-type: none;
  transition: all 0.5 ease-in-out;
  overflow: hidden;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

/* .gallery-item:hover {
  transform: scale(1.03);
  max-width: 376px;
} */

.gallery-item:hover::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 376px;
  height: 208px;
  border: 2px solid #fff;
  z-index: -1;
}

.gallery-link {
  width: 100%;
}

.gallery-image {
  width: 100%;
}

.simple-lightbox {
  background: rgba(46, 47, 66, 0.8);
}

.simple-lightbox .sl-image img {
  position: relative;
  margin: auto;
  display: block;
}

.sl-wrapper .sl-navigation button {
  color: #ffffff;
}
